pkgbase = karere
	pkgdesc = A fast, native WhatsApp client for Linux with GTK4/LibAdwaita
	pkgver = 3.0.2
	pkgrel = 2
	url = https://github.com/tobagin/karere
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = meson
	makedepends = ninja
	makedepends = rust
	makedepends = glib2
	makedepends = desktop-file-utils
	makedepends = appstream-glib
	makedepends = appstream
	makedepends = blueprint-compiler
	makedepends = python-gobject
	depends = gtk4
	depends = libadwaita
	depends = webkitgtk-6.0
	depends = glib2
	depends = gsettings-desktop-schemas
	depends = hicolor-icon-theme
	depends = dbus
	depends = cairo
	depends = pango
	optdepends = hunspell: spell checking support
	optdepends = libappindicator-gtk3: system tray support
	source = karere-3.0.2.tar.gz::https://github.com/tobagin/karere/archive/refs/tags/v3.0.2.tar.gz
	sha256sums = 777deb6e7fa0620527b9856e8deafb97d6c0c1567e6e75e5a247511a35725302

pkgname = karere
