pkgbase = vinyl-player
	pkgdesc = Elegant music player
	pkgver = 1.4.0
	pkgrel = 1
	url = https://codeberg.org/M23Snezhok/Vinyl
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-or-later
	makedepends = cargo
	makedepends = git
	makedepends = rust
	depends = gtk4
	depends = libadwaita
	depends = glib2
	depends = gstreamer
	depends = gst-plugins-base-libs
	depends = gst-plugins-base
	depends = gst-plugins-bad-libs
	depends = gst-plugins-good
	depends = hicolor-icon-theme
	depends = dbus
	depends = gcc-libs
	depends = glibc
	optdepends = gst-libav: additional codec support
	optdepends = gst-plugins-bad: additional GStreamer plugins
	optdepends = gst-plugins-ugly: additional codec support
	optdepends = ffmpeg: enhanced media playback support
	provides = vinyl-player
	conflicts = vinyl-player-git
	source = Vinyl-1.4.0.tar.gz::https://codeberg.org/M23Snezhok/Vinyl/archive/v1.4.0.tar.gz
	sha256sums = 0c74b5f21a1f1ca3848f3ea2c0d7172ba2b053c4af279b66f9682cfd491a7e9f

pkgname = vinyl-player
